{% extends "v2/base.html" %}
{% block title %}Demo{% endblock %}
{% block page_content %}
    <div class="container">
        <div class="col-lg-8">
        <div class="table-responsive">
            <table id="table" class="table table-borderd table-hover text-center small text-nowrap">
                <tr>
                    <td>delete</td>
                    <td>enddate</td>
                </tr>

                {% for item in items %}
                    {% set time = item.get("publishTime") %}
                    <tr>
                        {% if loop.index0 < 9 %}
                            <td>
                                <button type="button" class="btn btn-xs btn-link">删除</button>
                            </td>
                            <td><span class="summary" data={{ item.get("summary") }}><a
                                    href="{{ url_for("v2.detail",id=item.get("id")) }}">{{ time }}</a></span></td>
                        {% else %}
                            {% set nu = loop.index0/10 | float %}
                            {% set new=nu |int %}
                            {% set new_s= new| string %}
                            {% set nu2 = loop.index0/10-1.0 | float %}
                            {% set new2=nu2 |int %}
                            {% set new_s2= new2| string %}
                            {% if loop.index0 |ten_multiple %}
                                {% set href_1 = "#demo" + new_s %}
                                {% set href_2 = "demo" + new_s2 %}
                                <td id={{ href_2 }} class="collapse">
                                <button type="button" class="btn btn-xs btn-link">删除</button>
                            </td>
                                <td id={{ href_2 }} class="collapse"><span class="summary"
                                                                           data={{ item.get("summary") }}><a
                                        href="{{ url_for("v2.detail",id=item.get("id")) }}">{{ time }}</a></span>
                                    <a href="{{ href_1 }}" class="btn btn_small"
                                       data-toggle="collapse"
                                       style="float:right;"><span
                                            class="glyphicon glyphicon-plus"></span></a></td>
                            {% endif %}
                            {% if loop.index0 == 9 %}
                                <td>
                                <button type="button" class="btn btn-xs btn-link">删除</button>
                            </td>
                                <td><span class="summary" data={{ item.get("summary") }}><a
                                        href="{{ url_for("v2.detail",id=item.get("id")) }}">{{ time }}</a></span>
                                    {% set href_2 = "#demo" + "1" %}
                                    <a href="{{ href_2 }}" class="btn btn-small" data-toggle="collapse"
                                       style="float:right;"><span
                                            class="glyphicon glyphicon-plus" style="font-size:8px"></span></a>
                                </td>
                            {% else %}
                                {% if new == 0 %}
                                    <td id="demo" class="collapse">
                                <button type="button" class="btn btn-xs btn-link">删除</button>
                            </td>
                                    <td id="demo" class="collapse">
                                        <span class="summary" data={{ item.get("summary") }}><a
                                                href="{{ url_for("v2.detail",id=item.get("id")) }}">{{ time }}</a></span>
                                        {% elif not loop.index0 |ten_multiple %}
                                        {% set td_id = "demo" + new_s %}
                                    <td id="{{ td_id }}" class="collapse">
                                <button type="button" class="btn btn-xs btn-link">删除</button>
                            </td>
                                    <td id="{{ td_id }}" class="collapse">
                                        <span class="summary" data={{ item.get("summary") }}><a
                                                href="{{ url_for("v2.detail",id=item.get("id")) }}">{{ time }}</a></span>
                                    </td>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-lg-2"></div>
        </div></div>
    <script>
        $(function () {
            $("a").click(function (e) {
                var clsname = $(this).find("span").attr("class")
                console.log(clsname)
                if (clsname === "glyphicon glyphicon-plus") {
                    $(this).find("span").removeAttr("class")
                    $(this).find("span").addClass("glyphicon glyphicon-minus")
                } else {
                    $(this).find("span").removeAttr("class")
                    $(this).find("span").addClass("glyphicon glyphicon-plus")
                }
            })

        })

    </script>

    <script>
        $(function () {
            //鼠标位于 a标签上方时发生 mouseover 事件
            $(".summary").mouseover(function (e) {

                text = $(this).attr("data")
                $("body").append("<div id='div_toop'>" + text + "</div>");//将要显示的内容添加到 新建 div标签中 并追加到 body 中
                $("#div_toop")
                    .css({
                        //设置 div 内容位置
                        "top": (e.pageY + 10) + "px",
                        "position": "absolute",//添加绝对位置
                        "left": (e.pageX + 20) + "px"
                    }).show("fast");// show(spe.ed,callback) speed: xian'shi'su'du
            }).mouseout(function () { //鼠标指针从 a标签 上离开时 发生mouseout 事件

                $("#div_toop").remove();//移除对象
            }).mousemove(function (e) { //鼠标指针在 a标签 中移动时 发生mouseout 事件
                $("#div_toop")
                    .css({
                        //设置 div 内容位置
                        "top": (e.pageY + 10) + "px",
                        "position": "absolute",//添加绝对位置
                        "left": (e.pageX + 20) + "px"
                    });
            });
        })
    </script>
{% endblock %}